/* Custom CSS */

/* Small screens (up to 576px) */
@media (max-width: 576px) {
  .rounded-circle-mobile {
    width: 50%;
  }
  .welcome-img {
    width: 70%;
  }
}

/* Medium screens and larger (577px and above) */
@media (min-width: 577px) {
  .rounded-circle-mobile {
    width: 100%;
  }
  .welcome-img {
    width: 100%;
  }
}

