/* Custom CSS */

/* Small screens (up to 576px) */
@media (max-width: 576px) {
  .rounded-circle-mobile {
    width: 50%;
  }
  .welcome-img {
    width: 70%;
  }
}

/* Medium screens and larger (577px and above) */
@media (min-width: 577px) {
  .rounded-circle-mobile {
    width: 100%;
  }
  .welcome-img {
    width: 100%;
  }
}

.bg-light-custom {
    background-color: #dfe5f0;
    color: #000;
}

.navbar.bg-light-custom {
    border: 1px solid #ced4de;
    background-image: linear-gradient(#edf2fa, #dfe5f0);
}

.navbar-brand {
    color: #737373;
}
